spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/minimalProd
    username: minimal_prod_user
    password: minimal_prod_pass
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    show-sql: true


flyway:
  enabled: true
  locations: classpath:db/migration