version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: minimal-prod-db
    environment:
      POSTGRES_DB: minimalProd
      POSTGRES_USER: minimal_prod_user
      POSTGRES_PASSWORD: minimal_prod_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  minio:
    image: quay.io/minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: password123
    command: server /data --console-address ":9001"
    volumes:
      - ./data:/data

volumes:
  postgres_data:
